<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>837825418557-21804skd70msfqcoc24k830mg3orkndc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.837825418557-21804skd70msfqcoc24k830mg3orkndc</string>
	<key>API_KEY</key>
	<string>AIzaSyCG_6r6brOc4vI-yb-8m7ppK8RiruLnAL4</string>
	<key>GCM_SENDER_ID</key>
	<string>837825418557</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>swiftuinew.swiftUInewApp</string>
	<key>PROJECT_ID</key>
	<string>chatonreact-2cd47</string>
	<key>STORAGE_BUCKET</key>
	<string>chatonreact-2cd47.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:837825418557:ios:864066aacc493739e62154</string>
</dict>
</plist>